@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family-sans);
}

body {
  display: grid;
  grid-template-columns: 390px 1fr;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.header {
  grid-area: header;
  padding: 0 20px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

aside {
  grid-area: sidebar;
  border: 1px solid steelblue;
}

main {
  grid-area: main;
  border: 1px solid violet;
}

.avatar {
  border-radius: 50%;

  &--sm {
    width: 38px;
    height: 38px;
  }
}