@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family-sans);
}

html,
body,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color-primary);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 390px 1fr;
      grid-template-columns: 390px 1fr;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
      grid-template-areas: "header header" "aside main";
  scrollbar-width: thin;
  scrollbar-color: var(--background-color-tertiary) transparent;
}

body ::-webkit-scrollbar {
  width: 7px;
}

body ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

body ::-webkit-scrollbar-thumb {
  background-color: var(--background-color-tertiary);
  border-radius: 3.5px;
  border: none;
}

body ::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  border-radius: 50px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  padding: 0 var(--spacing-md);
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-xs);
}

.aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: var(--color-white);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1px 1fr;
      grid-template-rows: 1fr 1px 1fr;
}

.aside__top {
  padding: var(--spacing-md);
}

.aside__bottom {
  padding: var(--spacing-md);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-xs);
  overflow-y: scroll;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  margin: var(--spacing-md);
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
}

.main__info {
  padding: var(--spacing-md);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__description {
  padding: var(--spacing-md);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-xs);
}

hr {
  margin: 0;
  border: 0.5px solid var(--color-muted);
}

.avatar {
  border-radius: 50%;
}

.avatar--sm {
  width: 38px;
  height: 38px;
}

.avatar--md {
  width: 100px;
  height: 100px;
}

.button {
  padding: 8px 12px;
  max-height: var(--button-max-height);
  line-height: var(--line-height-normal);
  border: var(--border-width-default) solid var(--color-transparent);
  border-radius: var(--border-radius-xs);
  font-family: var(--font-family-sans);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.button--default {
  padding: 0;
  background-color: transparent;
}

.button--primary, .button--tertiary {
  background-color: var(--color-secondary);
}

.button--primary:hover, .button--tertiary:hover {
  background-color: var(--color-white);
  border: var(--border-width-default) solid var(--color-secondary);
}

.button--secondary {
  background-color: var(--color-tertiary);
}

.button--secondary:hover {
  background-color: var(--color-white);
  border: var(--border-width-default) solid var(--color-tertiary);
}

.button--tertiary {
  padding: 0 var(--spacing-md);
}

.heading {
  color: var(--color-primary);
}

.heading--default {
  font-size: 14px;
  font-weight: 700;
  line-height: var(--line-height-normal);
}

.heading--primary {
  font-size: 24px;
  font-weight: 700;
  line-height: var(--line-height-relaxed);
}

.heading--secondary {
  font-size: 18px;
  font-weight: 500;
  line-height: var(--line-height-normal);
}

.heading--tertiary {
  font-size: 18px;
  font-weight: 300;
  line-height: var(--line-height-relaxed);
}

.heading--xs {
  font-size: 12px;
  font-weight: 700;
  line-height: var(--line-height-snug);
}

.text {
  font-size: 14px;
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-normal);
}

.text--default {
  color: var(--color-primary);
}

.text--light {
  color: var(--color-light);
}

.day {
  padding: var(--spacing-sm);
}

.day--highlight {
  background-color: var(--background-color-secondary);
  border-radius: var(--border-radius-sm);
}

.typography--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.typography--secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: var(--spacing-xs);
}

.typography--secondary .heading--default {
  min-width: 270px;
  text-align: right;
}

.card--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-md);
}

.form--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing-xs);
}

.calendar__header {
  margin-bottom: var(--spacing-sm);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar__body {
  width: 100%;
  text-align: center;
}

.calendar__body thead td {
  padding-bottom: var(--spacing-xs);
}

.calendar__body tbody tr td:first-child,
.calendar__body tbody tr td:last-child {
  background-color: var(--background-color-secondary);
}

.calendar__body tbody tr:first-child td:first-child,
.calendar__body tbody tr:first-child td:last-child {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}

.calendar__body tbody tr:last-child td:first-child,
.calendar__body tbody tr:last-child td:last-child {
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}

.container--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--spacing-xs);
}

.description--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description--primary .heading--tertiary {
  display: inline-block;
  min-width: 80px;
}

.m--light {
  color: var(--color-white);
}
/*# sourceMappingURL=style.css.map */